/* FUNÇÃO: Estrutura e Layout Permanente.
   ATRIBUIÇÕES: Definição de fontes, arredondamento de bordas (radius),
   espessamentos, margens e tamanhos fixos que não mudam com o tema.
   Seletores de tipo
*/

.root {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

.button {
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-padding: 8px 16px;
    -fx-font-weight: bold;
}

.text-field {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
}