/* FUNÇÃO: Estilização dos Componentes JavaFX.
   ATRIBUIÇÕES: Aplica as variáveis de cores nos componentes reais e outros efeitos visuais.
   Consome as variáveis definidas nos arquivos de tema.
*/

.root {
    -fx-background-color: -cor-fundo-principal;
}

.button {
    -fx-background-color: -cor-primaria;
    -fx-text-fill: white; /* Cor fixa para contraste no botão */
}

.button:hover {
    -fx-opacity: 0.8; /* Efeito visual ao passar o mouse */
}

.label {
    -fx-text-fill: -cor-texto-padrao;
}

.text-field {
    -fx-background-color: -cor-fundo-card;
    -fx-border-color: -cor-borda;
    -fx-text-fill: -cor-texto-padrao;
}