/* FUNÇÃO: Estilização dos Componentes JavaFX.
   ATRIBUIÇÕES: Aplica as variáveis de cores nos componentes reais e outros efeitos visuais.
   Consome as variáveis definidas nos arquivos de tema.
   Seletores de classe
*/

/* EXEMPLO Estilização Base baseada nas variáveis do .root */

.login-background{
    -fx-background-image: url("../assets/images/background-login.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover; /* Faz a imagem preencher a tela sem distorcer */
    -fx-background-position: center center;
}

.main-background{
    -fx-background-color: -color-surface-lp;
}

.login-content{
    -fx-background-color: -color-bg;
    -fx-background-radius: 31px;
    -fx-border-color: -color-brand;
    -fx-border-width: 2px;
    -fx-border-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 30, 0, 0, 5);
}

/* Textos */
.texto-comum {
    -fx-text-fill: -color-text-body;
}

.texto-titulo {
    -fx-text-fill: -color-text-header;
    -fx-font-style: bold;
}

.icon {
    -fx-icon-color: -color-brand;
}

.icon-login {
     /* Cor cinza quando parado */
    -fx-icon-size: 22;
}

/* Estilização do input*/
.input-invisivel {
    -fx-background-color: transparent; /* Remove o fundo branco/cinza */
    -fx-background-insets: 0;           /* Remove recuos de bordas internas */
    -fx-background-radius: 0;           /* Zera o arredondamento */
    
    -fx-border-color: transparent;     /* Garante que não haja borda visível */
    -fx-border-width: 0;               /* Define a espessura da borda como zero */
    
    /* Importante: Remove a borda azul de foco que o JavaFX coloca ao clicar */
    -fx-focused-color: transparent;
    -fx-faint-focus-color: transparent;
    
    -fx-padding: 5 0 5 0;              /* Ajuste conforme necessário para alinhar com outros textos */
    -fx-text-fill: -color-text-body; 
}

.input-conteiner{
    -fx-background-color: -color-surface-field;
    -fx-background-radius: 10px;
    -fx-border-width: 1px;
    -fx-border-color: -color-border;
    -fx-spacing: 10px;
    -fx-border-radius: 10px;
    -fx-padding: 5px 10px;
}

.input-conteiner:focus-within{
    -fx-border-color: -color-brand;
    /* Adiciona um brilho azul ao redor da caixa */
    -fx-effect: dropshadow(three-pass-box, #66b3f26e, 10, 0, 0, 0);
}


.logo-label {
    -fx-text-fill: #4eafd9; 
    -fx-font-weight: bold;
    -fx-font-size: 32px;
}

.button-primary{
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-background-color: -color-brand;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 3);
    -fx-transition-duration: 0.2s;
}

.button-primary:hover {
   -fx-background-color: -color-brand-glow;
}

.button-primary:focus-within {
    -fx-background-color: -color-brand-glow;
}

.button-primary:pressed {
    /* Uma versão levemente mais escura do seu azul */
    -fx-translate-y: 1px;                     /* Move o botão 2 pixels para baixo */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 1);
}

.button-secondary{
    -fx-text-fill: -color-brand;
    -fx-background-color: -color-bg;
    -fx-background-radius: 15px;
    -fx-border-color: -color-brand;
    -fx-border-radius: 15px;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 15, 0, 3, 3);
}

.button-secondary:pressed {
    /* Uma versão levemente mais escura do seu azul */
    -fx-translate-y: 1px;                     /* Move o botão 2 pixels para baixo */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 1);
}

.header {
    -fx-background-color: -color-bg;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.15), 20, 0, 0, 5);
    -fx-view-order: -1;
    -fx-padding: 5px 10px;
}

.sidebar {
    -fx-background-color: -color-surface-lp; /* Lateral com a cor da marca */
    -fx-padding: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.15), 20, 0, 0, 5);
}

.nav-container {
    -fx-padding: 10;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 1px;
    -fx-border-color: transparent;
}

.nav-container:hover{
    -fx-border-color: -color-brand;
    -fx-border-width: 1px;
}

.nav-container-active{
    -fx-background-color: -color-brand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 3, 3);
}

.nav-container-active .label {
    -fx-text-fill: white;
}

.nav-container-active FontIcon {
    -fx-icon-color: white;
}

.content-pane {
    -fx-background-color: -cor-fundo-principal;
    -fx-border-color: -cor-borda;
    -fx-border-width: 0 0 0 1; /* Borda apenas na esquerda para separar da sidebar */
}

.nav-button {
    -fx-background-color: -cor-primaria;
    -fx-text-fill: -cor-texto-padrao;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.nav-button:hover {
    -fx-opacity: 0.8;
}

.background-transparente {
    -fx-background-color: transparent;
}

.container-generic {
    -fx-background-color: -color-bg;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 15, 0, 0, 0)
}