/* FUNÇÃO: Estilização dos Componentes JavaFX.
   ATRIBUIÇÕES: Aplica as variáveis de cores nos componentes reais e outros efeitos visuais.
   Consome as variáveis definidas nos arquivos de tema.
*/

/* EXEMPLO Estilização Base baseada nas variáveis do .root */

.main-container {
    -fx-background-color: -cor-fundo-principal;
}

.sidebar {
    -fx-background-color: -cor-fundo-card; /* Lateral com a cor da marca */
    -fx-padding: 15;
    -fx-pref-width: 150;
}

.logo-label {
    -fx-text-fill: -cor-texto-padrao; /* Logotipo geralmente mantém contraste fixo ou use -cor-fundo-card */
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.content-pane {
    -fx-background-color: -cor-fundo-principal;
    -fx-border-color: -cor-borda;
    -fx-border-width: 0 0 0 1; /* Borda apenas na esquerda para separar da sidebar */
}

.welcome-label {
    -fx-text-fill: -cor-texto-padrao;
    -fx-font-size: 20px;
}

.nav-button {
    -fx-background-color: -cor-primaria;
    -fx-text-fill: -cor-texto-padrao;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.nav-button:hover {
    -fx-opacity: 0.8;
}