.root {
    /* Identidade Washii */
    -color-brand: #53bfe7;
    -color-brand-glow: #46aace;      /* Azul mais profundo para hover */
    -color-brand-low: #f3faff;       /* Fundo de destaque azul claro */

    /* Superfícies (Profundidade) */
    -color-bg: #FFFFFF;              /* Fundo principal */
    -color-surface-lp: #F5F5F5;      /* Cards e painéis */
    -color-surface-field: #FFFFFF;   /* Interior dos inputs */
    
    /* Linhas e Divisores */
    -color-border: #cecece;
    -color-divider: #F0F0F0;

    /* Tipografia */
    -color-text-header: #212121;     /* Títulos */
    -color-text-body: #555555;       /* Texto comum */
    -color-text-muted: #9E9E9E;      /* Placeholder / Desativado */
    
    /* Status */
    -color-success: #4CAF50;
    -color-warning: #FFB74D;
    -color-danger: #EF5350;

    /* Cores de Status Agendamento*/
    -fx-color-pendente: #2D82B7;        /* Azul */
    -fx-color-agendado: #00A896;        /* Turquesa */
    -fx-color-concluido: #68B92E;       /* Verde */
    -fx-color-cancelado: #7f8c8d;       /* Cinza */
    -fx-color-nao-compareceu: #E67E22;  /* Laranja */
}